/* PAGE: NEWSLETTER */ //1.06.2019

@media all and (max-width: 719px) {
	.newsletter {
		.subscribe-form {
			fieldset.main-form {
				width: columns-width(4); 
				input {
					float: none;
					width: columns-width(4);
					&[type = "submit"] {
						margin-top: 12px;
					}
				}
			}
		}
	}
}