/*** MEDIA QUERIES ***/
/*
@media all and (min-width: 1080px) {
	body {
		background-color: lightgrey;
	}
	.row {
	width: columns-width();
	} 
}
*/

@media all and (max-width: 1023px) and (min-width: 720px) {

	/* LAYOUT */
	.row {
		width: columns-width(8);
	}
	.text-column {
		width: columns-width(8);
	}

	/* STICKY NAV */
	.nav-stripes {
		.first {
			width: columns-width(6);
		}
	}
	.sticky-nav {
		nav {
			form {
				width: columns-width(5);

				input[type = text] {
					width: columns-width(5)-59;
				}
				input[type = submit] {
					width: 48px;
				}
			}
		}

		/* MAIN MENU */
		.main-menu {
			.left {
				margin-left: 0;
				width: columns-width(4);
			}
			.right {
				width: columns-width(4);
			}
		}
	}

	/* FOOTER */
	.main-footer {
		.footer {
			.first-column {
				width: columns-width(3);

				p {
					margin-left: columns-width(1) + $gutter;
				}
			}
			.second-column {
				width: columns-width(3);

				.b-side {
					display: none;
				}
			}
			.third-column {
				width: columns-width(2);

				.b-side {
					display: block;
				}
			}
		}
	}

	/* EDUKACJA */
	.edu-items {
		.edu-categories {
			font-size: 14px;
			li {
			}
		}
	}
}


@media all and (max-width: 719px) {
	section:last-of-type {
		margin-bottom: 420px;
	}
	.row {
		width: columns-width(4);
	}
	.text-column {
		width: columns-width(4);
	}

	/* STICKY NAV */
	.nav-stripes {
		.first {
			width: columns-width(4);
		}
		.second {
			display: none;
		}
	}
	.sticky-nav {
		nav {
			form {
				display: none;
				width: columns-width(5);

				input[type = text] {
					width: columns-width(5)-59;
				}
				input[type = submit] {
					width: 48px;
				}
			}
			
			.trigger-buttons {
				margin-left: columns-width(1) + $gutter;
			}

			ul {
				float: right;
			}
		}

		/* MAIN MENU */
		.main-menu {
			.left {
				margin-left: 0;
				width: columns-width(4);
			}
			.right {
				width: columns-width(4);
			}
		}
	}

	/* HIGHLIGHT */
	.highlight {

		.owl-carousel {

			.item {
				
				.text-box {
					h1 {
						width: columns-width(4);
						font-size: 34px;
					}
					p {
						width: columns-width(4);
						font-size: 21px;
						font-weight: bold;
						margin-bottom: 12px;
					}
					.icon {
						font-size: inherit;
					}
				}
			}
		}
	}

	/* FOOTER */
	.main-footer {
		.footer {
			.first-column {}
			.second-column {
				width: columns-width(4);

				p {
					text-align: left;
				}
				ul {
					text-align: left;
				}
				.a, .b {
					width: columns-width(2);
				}
				.social, .newsletter {
					display: block;
				}
			}
			.third-column {
				display: none;
				width: columns-width(4);
			}
		}
	}

	/* ARTICLE */
	.article {
		section.post {
			article {
				iframe {
					width: columns-width(4);
					height: 175px;
				}
			}
		}
	}

	/* SEARCH */
	.search {
		.search-results {
			.tail {
				width: columns-width(4);
			}
		}
	}
}

