$font-stack: 'Maison', sans-serif;
$global-font-size: 16px;
$global-line-height: 1.5;

$column-width: 66.583px;
$gutter: 15px;

$global-margin: 24px;

//$column-width: 52.833px;
//$gutter: 30px;

$css-images-path: '../images/';