//partials

@import 'vendor/normalize';
@import 'variables';
@import 'mixins';


/* Fonts */

@font-face {
  font-family: 'icons';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/icons.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/icons.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/icons.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/icons.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-regular.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-regular.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-regular.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-regular.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-regular.svg#maisonweb-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-italic.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-italic.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-italic.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-italic.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-italic.svg#maisonweb-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Maison';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-bold.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-bold.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-bold.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-bold.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-bold.svg#mmaisonweb-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maison';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-light.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-light.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-light.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-light.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/maisonweb-light.svg#maisonweb-light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MArch';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/march-regular-180816.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/march-regular-180816.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/march-regular-180816.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/march-regular-180816.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/march-regular-180816.svg#march-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social';
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/social.eot');
  src: url('https://dl.dropboxusercontent.com/u/14956648/mafonts/social.eot?#iefix') format('embedded-opentype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/social.woff') format('woff'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/social.ttf') format('truetype'),
  url('https://dl.dropboxusercontent.com/u/14956648/mafonts/social.svg#social') format('svg');
  font-weight: normal;
  font-style: normal;
}




/*** MA's styles ***/

html {
	overflow-y: scroll;
	font-size: $global-font-size;
	line-height: $global-line-height;
}
body {
	font-family: $font-stack;
	position: relative;
	height: auto;
	min-height: 100vh;
	overflow: auto;
}

/* Layout */
.row {
	width: columns-width(12);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

/* Text column */
.text-column {
  article {
    h1 {
      margin-bottom: 12px;
    }
  }
}

section {
	@extend .row;
	&:not(.highlight):first-of-type {
		margin-top: 135px;
	}
	&:last-of-type {
		margin-bottom: 250px;
	}
}

.icon {
	font-family: 'MArch';
	font-size: inherit;
}

.stripe {
	border-top-width: 8px;
	border-top-style: solid;
	padding-top: 10px;
}
.small-stripe {
	border-top-width: 4px;
	border-top-style: solid;
	padding-top: 5px;
}


.fc-checkout {
  .nav-stripes {
    .first {
      width: columns-width(12);
    }
  }
}






@import 'utilities/footer';
@import 'utilities/sticky-nav';

@import 'typography/headers';
@import 'typography/lists';
@import 'typography/links';
@import 'typography/text-column';
