//partials

@import 'vendor/normalize';
@import 'vendor/jquery-ui';
@import 'vendor/jquery-ui-slider-pips';
@import 'variables';
@import 'mixins';

/*** MA's styles ***/

html {
	overflow-y: scroll;
	font-size: $global-font-size;
	line-height: $global-line-height;
}
body {
	font-family: $font-stack;
	position: relative;
	height: auto;
	min-height: 100vh;
	overflow: auto;
	/*
	padding-bottom: 200px;
	*/
}


/* Przerobić AKTUALNOŚCI na komponent i INFO-BANNER chyba też */

/* INFO-BANNER */
.info-banner {	// to jest na home.xsl
	color: white;
	background-color: black;
	padding: 15px;

	p {
		margin-bottom: 0;
	}
}


/* BIG-NAV POJAWIA SIĘ W WYSTAWACH, WYDZRZENIACH, ARCHIWUM I (chyba bez odpowiedniej klasy) W KSIĘGARNI /*
/* przenieść z pages/*** do globalnych styli */
.big-nav {
		a {
			color: rgb(153, 153, 153);
			&:hover {
				color: black;
				opacity: 1;
			}
			&.active {
				color: black;
				opacity: 1;
			}
		}
	}


/* Wyłączony button w sklepie. Chyba do globalnych... */
.button.disabled {
	//background-color: rgb(201, 206, 212) !important;
	//color: rgb(41, 41, 41) !important;
	background-color: rgb(193, 200, 208) !important;
	color: rgb(115, 115, 115) !important;
	font-weight: normal !important;
	cursor: auto !important;
}


/* FOXYCART DEMO [4.10.2016] */
// do skasowania po odpaleniu sklepu //
.fc-demo {
	article {
		width: 311px;
		float: left;
		margin-right: 20px;
		img {
			width: 100%;
		}
		input[type="number"] {
			width: 40px;
		}
	}
}

@import 'utilities';
@import 'typography';
@import 'pages';
@import 'fc/card';
@import 'media-queries';
@import 'vendor';
