//partials

@import 'vendor/normalize';
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'typography';

//vendors
@import '../bower_components/perfect-scrollbar/css/perfect-scrollbar.css';
@import '../bower_components/owl.carousel/dist/assets/owl.carousel.min.css';

/*** MA's styles ***/

html {
	overflow-y: scroll;
	font-size: $global-font-size;
	line-height: $global-line-height;
}
body {
	font-family: $font-stack;
}

.row {
	width: columns-width(12);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

/* Menu */

.icon {
	//font-family: 'icons';
	font-family: 'MArch';
	font-size: 18px;
}
.stripe {
	border-top-width: 8px;
	border-top-style: solid;
	padding-top: 10px;
}
.small-stripe {
	border-top-width: 4px;
	border-top-style: solid;
	padding-top: 5px;
}


// TEMP

section {
	@extend .row;
	&:first-of-type {
		margin-top: 120px;
	}
}


/* POST */

.article {
	
	> header {
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: $gutter;
	}
	section {
		width: columns-width(8);
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		header {
			h1 {
				text-transform: uppercase;
			}
			h2 {
				margin-bottom: 7px;
			}
			.date {
				color: red;
			}
			.category-list {
				display: block;
				overflow: auto;
				margin-bottom: 24px;
				font-weight: bold;

				> li {
					float: left;
					margin-right: $gutter;
				}
			}
		}

		article {
			h1 {
				@extend .typo-h2;
				@extend .small-stripe;
			}
			h2 {
				@extend .typo-h3;
			}
			h3 {
				@extend .typo-h4;
			}
			img {
				max-width: 100%;
			}
			a:hover {
				color: white;
				background-color: black;
				opacity: 1;
			}
		}
	}
}


