//partials

@import 'vendor/normalize';
@import 'variables';
@import 'mixins';


/*** MA's styles ***/

html {
	overflow-y: scroll;
	font-size: $global-font-size;
	line-height: $global-line-height;
}
body {
	font-family: $font-stack;
	position: relative;
	height: auto;
	min-height: 100vh;
	overflow: auto;
	/*
	padding-bottom: 200px;
	*/
}

/* Layout */
.row {
	width: columns-width(12);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

section {
	@extend .row;
	&:not(.highlight):first-of-type {
		margin-top: 135px;
	}
	&:last-of-type {
		margin-bottom: 250px;
	}
}


/* TO POWINNO BYć GLOBALNE: --> character stylez */
.icon {
	font-family: 'MArch';
	font-size: inherit;
}

.stripe {
	border-top-width: 8px;
	border-top-style: solid;
	padding-top: 10px;
}
.small-stripe {
	border-top-width: 4px;
	border-top-style: solid;
	padding-top: 5px;
}
.color-label {
	color: white;
	font-weight: normal;
	padding: 0 6px;
}
.tag {
	@extend .color-label;
	background-color: lightgrey;
}
.event {
	@extend .color-label;
	background-color: black;
}
.oppening {
	@extend .color-label;
	background-color: red;
}

.comment {
	background-color: yellow;
}

.hide {
	display: none;
}

.date {
	color: red;	//data w edukacji (też w Wystawach i wydarzeniach, ale tam jest osobna reguła). Czy to ma być globalne?
}

.no-break {
	white-space: nowrap;
}



/* Przerobić AKTUALNOŚCI na komponent i INFO-BANNER chyba też */
.news {
	> h1 {
		margin-bottom: 24px;
	}
}

/* INFO-BANNER */
.info-banner {
	color: white;
	background-color: black;
	padding: 15px;

	p {
		margin-bottom: 0;
	}
}

/* KIDS-N-PARENTS */
.kids-n-parents article a:hover > h3 {
	color: black;
}



/* Text column */
.text-column {
	article {
		h1 {
			margin-bottom: 12px;
		}
	}
}

/* FOXYCART DEMO [4.10.2016] */
.fc-demo {
	article {
		width: 311px;
		float: left;
		margin-right: 20px;
		img {
			width: 100%;
		}
		input[type="number"] {
			width: 40px;
		}
	}
}

/* FOXYCART – KOSZYK [to powinien być osobny plik w folderze Foxycart] */
[data-fc-sidecart] {
	background-color: white !important;
}
[data-fc-sidecart]::-webkit-scrollbar {
	display: none;
}
.fc-container, .fc-sidebar {
	background-color: white !important;
}
#fc {
	div, span, h2, h3, h4, h5, p, a, table *, button, address {
		font-family: "Maison", sans-serif !important;
	}

	.fc-fixed-button-right .fc-btn-action {
		background: magenta !important;
	}

	.fc-fixed-button-left .fc-btn-action {
		background-color: rgb(240, 240, 240) !important;
	}

	.fc-cart__item__quantity .fc-form-control {
		border: none !important;
		background-color: rgb(240, 240, 240) !important;
		box-shadow: none !important;
	}

	.fc-order-quantity {
		font-weight: normal !important;
	}

	.fc-form-control {
		font-family: "Maison" !important;
		border-radius: 0 !important;
	}

	.fc-button {
		border-radius: 0 !important;
	}

	.fc-transaction__shipping-address {
		border-radius: 0 !important;
		margin-left: 0 !important;
	}

	.fc-subtotal__label {
		padding-left: 0 !important;
	}


	.fc-action--checkout--button {
		border-radius: 0 !important;
		border: none !important;
		background: magenta !important;
		text-shadow: none !important;
	}

	.fc-messages__empty-notification {
		border-radius: 0 !important;
		background-color: rgb(240, 240, 240) !important;
		a {
			color: #4d4d4d !important;
		}
	}
}


@import 'utilities';
@import 'typography';
@import 'pages';
//@import 'media-queries';
@import 'vendor';
