//	FOXYCART SIDECARD //

[data-fc-sidecart] {
	background-color: white !important;
}
[data-fc-sidecart]::-webkit-scrollbar {
	display: none;
}
.fc-container, .fc-sidebar {
	background-color: white !important;
}
#fc {
	div, span, h2, h3, h4, h5, p, a, table *, button, address {
		font-family: "Maison", sans-serif !important;
	}

	.fc-fixed-button-right .fc-btn-action {
		background: magenta !important;
	}

	.fc-fixed-button-left .fc-btn-action {
		background-color: rgb(240, 240, 240) !important;
	}

	.fc-cart__item__quantity .fc-form-control {
		border: none !important;
		background-color: rgb(240, 240, 240) !important;
		box-shadow: none !important;
	}

	.fc-order-quantity {
		font-weight: normal !important;
	}

	.fc-form-control {
		font-family: "Maison" !important;
		border-radius: 0 !important;
	}

	.fc-button {
		border-radius: 0 !important;
	}

	.fc-transaction__shipping-address {
		border-radius: 0 !important;
		margin-left: 0 !important;
	}

	.fc-subtotal__label {
		padding-left: 0 !important;
	}


	.fc-action--checkout--button {
		border-radius: 0 !important;
		border: none !important;
		background: magenta !important;
		text-shadow: none !important;
	}

	.fc-messages__empty-notification {
		border-radius: 0 !important;
		background-color: rgb(240, 240, 240) !important;
		a {
			color: #4d4d4d !important;
		}
	}
}