/* ARTICLE is for exhibitions and events */

.article {
	
	> header {
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: $gutter;
		&.offset {
			min-height: 125px;
		}
	}
	section.post {
		@extend .text-column;

		header {
			h1 {
				text-transform: uppercase;
			}
			h2 {
				margin-bottom: 7px;
			}
			.date {
				color: red;
			}
			ul {
				display: block;
				overflow: auto;
				font-weight: bold;

				> li {
					float: left;
					margin: 3px $gutter 3px 0;
				}
			}

			.event-list {
				a:after {
					content: " > ";
				}
			}
		}
		article {
			p.caption {
				font-size: 14px;
				color: grey;
				margin-top: -24px;
			}
			iframe {
				width: 638px;
				height: 360px;
			}
		}
	}
}