/* BOOKSHOP */

.bookshop-nav {
	nav {
		h1 {
			margin-bottom: 24px;
		}
	}
}

.bookshop-page {
	@extend .text-column;
}

.publications {
	.info-banner {
		font-weight: bold;
		color: black;
		background-color: magenta;
		margin-bottom: $global-margin;

		p {
			margin-bottom: $global-margin;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}