/* CONSTRUCTION ARCHIVE SEARCH */

.search {

	/*****
	Ukrywam główną wyszukiwarkę na stronie AB search [/archiwum-budowlane/wyszukiwarka/] żeby nie myliła się z wyszukiwarką Archiwum i w ten sposób nie wprowadzała w bąd. [10/06/2019]
	*****/
	.sticky-nav {
		nav {
			form#search-form {
				visibility: hidden;
			}
		}
	}
	/***** Koniec fragmentu o wyszukiwarce *****/

	> header {
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: $gutter;
		&.offset {
			min-height: 125px;
		}
	}

	.archive-text {
		@extend .text-column;

		margin-top: 0 !important;
		margin-bottom: 0 !important;

		header {
			h1 {
				margin-bottom: 12px;
			}
		}

		form {
			margin-top: 24px;
		}
		input {
			border: none;
			border-bottom: 1px solid black;
			margin-bottom: 12px;
			width: 100%;
			line-height: 1.5;

			&:focus {
				outline: none;
				border-color: lightgreen;
			}
		}
		.results-found {
			color: grey;
		}
	}

	.search-results {
		.tail {
			overflow: auto;
			width: columns-width(10);

			a {
				display: block;
			}

			p {
				em {
					background-color: lightgreen;
					padding: 0 1px;
					font-style: normal;
				}
				img {
					max-height: 150px;
					margin-top: 6px;
					display: block;
				}
			}
		}
	}
}

.search-deails {
	@extend .text-column;

	header {
		h1 {
			margin-bottom: 12px;
		}
	}

	li {
		margin-bottom: 24px;
		label {
			display: block;
			font-weight: bold;
		}
	}
}