/* CONSTRUCTION ARCHIVE ABOUT */

.about-archive {
	> header {
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: $gutter;
		&.offset {
			min-height: 125px;
		}
	}

	.archive-about {
		@extend .text-column;

		margin-top: 0 !important;
		margin-bottom: 250px;


		header {
			h1 {
				margin-bottom: 12px;
			}
		}
	}
}
