/* EDU */

.edu {
	@extend .text-column;

	header {
		h1 {
			margin-bottom: 12px;
		}
	}

	article {
		ul {
			list-style: disc;
		}
		li {
			margin-bottom: 12px;
		}
	}
}

.edu-items {

	a:before {
		content: none;
	}

	li {
		float: left;
		margin-right: 8px;

		&.inactive-filter {
			opacity: 0.4;
		}
		&.label {
			color: black;
		}
		.clear-filter {
			margin-left: 5px;
			border-left: white 1px solid;
			padding-left: 5px;
			display: none;
		}
	}
}

.edu-lessons {

	header {
		margin-bottom: 12px;

		h1 {
			margin-bottom: 24px;
		}
	}

	.przedszkola {
		h1 {
			border-color: rgb(58, 187, 74);
		}
	}
	li.przedszkola {
		@extend .color-label;
		background-color: rgb(58, 187, 74);
	}

	.klasy-0-3 {
		h1 {
			border-color: rgb(58, 187, 74);
		}
	}
	li.klasy-0-3 {
		@extend .color-label;
		background-color: rgb(58, 187, 74);
	}

	.klasy-4-6 {
		h1 {
			border-color: rgb(111, 155, 255);
		}
	}
	li.klasy-4-6 {
		@extend .color-label;
		background-color: rgb(111, 155, 255);
	}

	.gimnazjum {
		h1 {
			border-color: rgb(212, 95, 197);
		}
	}
	li.gimnazjum {
		@extend .color-label;
		background-color: rgb(212, 95, 197);
	}

	.szkoly-ponadgimnazjalne {
		h1 {
			border-color: rgb(56, 191, 172);
		}
	}
	li.szkoly-ponadgimnazjalne {
		@extend .color-label;
		background-color: rgb(56, 191, 172);
	}

	.wyklady-dla-mlodziezy {
		h1 {
			border-color: rgb(255, 94, 87);
		}
	}
	li.wyklady-dla-mlodziezy {
		@extend .color-label;
		background-color: rgb(255, 94, 87);
	}

	/* Materiały do pobrania */
	.dla-dzieci {
		h1 {
			border-color: rgb(158, 161, 169);
		}
	}
	li.dla-dzieci {
		@extend .color-label;
		background-color: rgb(158, 161, 169);
	}
	.dla-nauczycieli {
		h1 {
			border-color: rgb(86, 86, 86);
		}
	}
	li.dla-nauczycieli {
		@extend .color-label;
		background-color: rgb(86, 86, 86);
	}
	.gry {
		h1 {
			border-color: red;
		}
	}
	li.gry {
		@extend .color-label;
		background-color: red;
	}
}
.wyklady-dla-mlodziezy {
		h1 {
			border-color: rgb(255, 94, 87);
		}
	}
	li.wyklady-dla-mlodziezy {
		@extend .color-label;
		background-color: rgb(255, 94, 87);
	}