/* EDU */

.edu {
	@extend .text-column;

	header {
		h1 {
			margin-bottom: 12px;
		}
	}

	article {
		ul {
			list-style: disc;
		}
		li {
			margin-bottom: 12px;
		}
	}
}

.edu-items {

	overflow: hidden;

	header {
		margin-bottom: 12px;

		h1 {
			margin-bottom: 24px;
		}
	}
	.edu-categories {
		overflow: auto;

		a:before {
			content: none;
		}

		li {
			float: left;
			margin-right: 8px;
			margin-bottom: 8px;

			&.inactive-filter {
				opacity: 0.4;
			}
			&.label {
				color: black;
			}
			.clear-filter {
				margin-left: 5px;
				border-left: white 1px solid;
				padding-left: 5px;
				display: none;
			}
		}
	}

	.przedszkola {
		h1 {
			border-color: rgb(58, 187, 74);
		}
	}
	li.przedszkola {
		@extend .color-label;
		background-color: rgb(58, 187, 74);
	}

	.klasy-0-3 {
		h1 {
			border-color: rgb(58, 187, 74);
		}
	}
	li.klasy-0-3 {
		@extend .color-label;
		background-color: rgb(58, 187, 74);
	}

	.klasy-4-6 {
		h1 {
			border-color: rgb(111, 155, 255);
		}
	}
	li.klasy-4-6 {
		@extend .color-label;
		background-color: rgb(111, 155, 255);
	}

	.klasy-7-8 {
		h1 {
			border-color: rgb(212, 95, 197);
		}
	}
	li.klasy-7-8 {
		@extend .color-label;
		background-color: rgb(212, 95, 197);
	}

	.szkoly-srednie {
		h1 {
			border-color: rgb(56, 191, 172);
		}
	}
	li.szkoly-srednie {
		@extend .color-label;
		background-color: rgb(56, 191, 172);
	}

	.wyklady-dla-mlodziezy {
		h1 {
			border-color: rgb(255, 94, 87);
		}
	}
	li.wyklady-dla-mlodziezy {
		@extend .color-label;
		background-color: rgb(255, 94, 87);
	}

	/* Materiały edukacyjne */
	.dzieci {
		h1 {
			border-color: rgb(196, 167, 218);
		}
	}
	li.dzieci {
		@extend .color-label;
		background-color: rgb(196, 167, 218);
	}

	.nauczyciele {
		h1 {
			border-color: rgb(195, 195, 195);
		}
	}
	li.nauczyciele {
		@extend .color-label;
		background-color: rgb(195, 195, 195);
	}

	.dorosli {
		h1 {
			border-color: rgb(82, 82, 82);
		}
	}
	li.dorosli {
		@extend .color-label;
		background-color: rgb(82, 82, 82);
	}

	/* Gry edukacyjne */

	.gry-on-line {
		h1 {
			border-color: rgb(117, 186, 255);
		}
	}
	li.gry-on-line {
		@extend .color-label;
		background-color: rgb(117, 186, 255);
	}

	.gry-planszowe {
		h1 {
			border-color: rgb(226, 213, 56);
		}
	}
	li.gry-planszowe {
		@extend .color-label;
		background-color: rgb(226, 213, 56);
	}

	.gry-terenowe {
		h1 {
			border-color: rgb(76, 184, 123);
		}
	}
	li.gry-terenowe {
		@extend .color-label;
		background-color: rgb(76, 184, 123);
	}

	/* Materiały do pobrania */
	.dla-dzieci {
		h1 {
			border-color: rgb(158, 161, 169);
		}
	}
	li.dla-dzieci {
		@extend .color-label;
		background-color: rgb(158, 161, 169);
	}
	.dla-nauczycieli {
		h1 {
			border-color: rgb(86, 86, 86);
		}
	}
	li.dla-nauczycieli {
		@extend .color-label;
		background-color: rgb(86, 86, 86);
	}
	.gry {
		h1 {
			border-color: red;
		}
	}
	li.gry {
		@extend .color-label;
		background-color: red;
	}
}
.wyklady-dla-mlodziezy {
		h1 {
			border-color: rgb(255, 94, 87);
		}
	}
	li.wyklady-dla-mlodziezy {
		@extend .color-label;
		background-color: rgb(255, 94, 87);
	}