/* EXHIBITIONS */

.exhibitions {
	> h1 {
		margin-bottom: 24px;
	}

	.big-nav {
		a {
			color: rgb(153, 153, 153);
			&:hover {
				color: black;
				opacity: 1;
			}
			&.active {
				color: black;
				opacity: 1;
			}
		}
	}
}
