/* MUSEUM TEAM */

.staff {
	@extend .text-column;

	article {
		margin-bottom: 24px;

		h2.div-button {
			cursor: pointer;
			margin-bottom: 16px;
		}

		ul {
			list-style: none;
		}
		
		.division {
			display: none;
		}
	}
}
