/* Newsletter page */

.newsletter-text {
	@extend .text-column;

	.subscribe-form {
		
		margin-bottom: 24px;
		overflow: auto;

		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}

		fieldset.main-form {
			width: columns-width(5);
		}

		input {
			border: none;
			border-bottom: 1px solid black;
			margin-bottom: 12px;
			line-height: 1.5;

			&:focus {
				outline: none;
				border-color: lightblue;
			}

			&.fname {
				width: columns-width(2);
				margin-right: 10px;
			}
			&.lname {
				width: columns-width(3);
			}
			&[type = "email"] {
				width: columns-width(5);
			}
			&[type = "submit"] {
				background-color: black;
				color: white;
				float: right;
			}
		}

		fieldset.rodo-consent {
			margin-top: 1rem;
			input {
				&.rodo {
					margin-right: 12px;
					margin-top: 2px;
					margin-bottom: 0;
					float: left;
				}
			}
			p.rodo {
				font-size: 12px;

				&.label {
					font-weight: bold;
					margin-bottom: 0;
				}
			}
		}
	}
}