/* FOOTER */

.main-footer {
	width: 100%;
	position: absolute;
	bottom: 0;


	.footer {
		@extend .floater;

		margin-top: 0 !important;
		margin-bottom: 0;

		p, ul {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 16px;
		}

		.first-column {
			@extend .stripe;
			width: columns-width(4);
			margin-right: $gutter;

			p {
				margin-left: columns-width(2) + $gutter;

				&.logo {
					font-size: 20px;
					line-height: 20px;
					float: left;
					margin-left: 0;
				}
			}
		}
		.second-column {
			@extend .stripe;
			width: columns-width(6);
			margin-right: $gutter;

			.b {
				width: columns-width(3);
				float: left;
			}
			.a {
				@extend .b;
				margin-right: $gutter;
			}

			p {
				text-align: right;
				font-weight: bold;
			}

			ul {
				text-align: right;
			}
		}
		.third-column {
			@extend .stripe;
			width: columns-width(2);

			.social {
				li {
					width: 35px;
					float: right;
					text-align: right;
					font-family: 'social';
				}
			}
		}
	}
}


/* SMALL FOOTER */

.small-footer {
	width: 100%;
	position: absolute;
	bottom: 0;


	.footer {
		@extend .floater;
		@extend .stripe;

		margin-top: 0 !important;
		margin-bottom: 0;

		p {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 16px;
		}

		.first-column {
			width: columns-width(2);
			margin-right: $gutter;

			p {
				margin-left: columns-width(2) + $gutter;

				&.logo {
					font-size: 20px;
					line-height: 25px;
					float: left;
					margin-left: 0;
				}
			}
			.social {
				clear: both;
				li {
					width: 35px;
					float: left;
					font-family: 'social';
				}
			}
		}
		.second-column {
			width: columns-width(2);
			
			p a {
				font-weight: bold;
			}
		}
	}
}