/* Headres sizes */

.reset {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h1 {
	@extend .reset;
	font-size: 42px;
	//font-weight: normal;
	line-height: 1;


	//margin-bottom: $gutter;
}
h2 {
	@extend .reset;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: $gutter;
}
h3 {
	@extend .reset;
	font-size: 21px;
	margin-bottom: $gutter;
}
h4 {
	@extend .reset;
	font-size: $global-font-size;
	margin-bottom: $gutter;
}
p {
	@extend .reset;
	font-size: $global-font-size;
	margin-bottom: 1.5 * $global-font-size;
}

/* Experimental */
.typo-h1 {
	@extend .reset;
	font-size: 42px;
	line-height: 1.2;
	text-align: left;
}
.typo-h2 {
	@extend .reset;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	margin-bottom: $gutter;
}
.typo-h3 {
	@extend .reset;
	font-size: 21px;
	text-align: left;
	margin-bottom: $gutter;
}
.typo-h4 {
	@extend .reset;
	font-size: $global-font-size;
	text-align: left;
	margin-bottom: $gutter;
}