/* Links */

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		opacity: 0.6;
	}
	&.active {
		opacity: 0.6;
	}
}
/* Brakujące spacje przed italikami i boldem */
a, em, strong {
	&:before {
		content: " ";	
	}
}