/* Lists */

ul {
 list-style: none;
}
ul, li {
  margin: 0;
  padding: 0;
}

ul.inline-list {
	overflow: hidden;

	li {
		float: left;
		margin-right: 16px;
		font-weight: bold;
	}
}

ol {
	padding: 0;
}